<div class="mv">
  <%= image_tag 'hero.png' %>
  <p id="page-top" style="display: block;">
    <a href="#"><i class="fas fa-chevron-up"></i></a>
  </p>
  <div class="container">
    <div class="grid">
      <%= image_tag 'dummy.jpg' %>
      <div class="gridtxt">
        散布流太郎
      </div>
    </div>
    <div class="grid">
      <%= image_tag 'dummy2.jpg' %>
      <div class="gridtxt">
        散布流太郎
      </div>
    </div>
    <div class="grid">
      <%= image_tag 'dummy2.jpg' %>
      <div class="gridtxt">
        散布流太郎
      </div>
    </div>
    <div class="grid">
      <%= image_tag 'dummy.jpg' %>
      <div class="gridtxt">
        散布流太郎
      </div>
    </div>
  </div>
  <div class="footer">
    ©︎2021 Ryota &amp; Maria Happy Wedding!
  </div>
</div>
